services:
  db:
    image: mariadb:latest
    container_name: moodle_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodleuser
      MYSQL_PASSWORD: 1234
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - moodle_network
    restart: unless-stopped

  moodle:
    image: lthub/moodle:education-4.5.8
    container_name: moodle_app
    ports:
      - "80:80"
    environment:
      - MOODLE_URL=http://localhost
      - MOODLE_DB_TYPE=mariadb
      - MOODLE_DB_HOST=db
      - MOODLE_DB_NAME=moodle
      - MOODLE_DB_USER=moodleuser
      - MOODLE_DB_PASSWORD=1234
    volumes:
      - moodledata:/moodledata
    depends_on:
      - db
    links:
      - db
    networks:
      - moodle_network
    restart: unless-stopped

networks:
  moodle_network:
    driver: bridge

volumes:
  db_data:
  moodledata: